/*----TO USE-----
Media Query Mixins

@include atiphone6 {
  
}

@include at576 {

}
@include at768 {

}
@include at992 {

}
@include at1200 {

}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

header {
  display: flex;
  background: #fff;
  height: 8vh;
  width: 100%;
  transition: 0.2s ease-out; }

.header-fixed {
  position: fixed;
  z-index: 99;
  transition: 0.2s ease-out; }

.nav-menuicon {
  width: 20px;
  height: 19px;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  z-index: 8; }
  .nav-menuicon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #000;
    transform-origin: 0 0;
    transition: transform 0.3s ease-out; }
  .nav-menuicon-bar {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease-out;
    transform-origin: 0 50%; }
  .nav-menuicon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #000;
    transform-origin: 0 100%;
    transition: transform 0.3s ease-out; }

.nav-menuicon-bar-close::before {
  transform: rotate(45deg) scaleX(1.25); }

.nav-menuicon-bar-close::after {
  transform: rotate(-45deg) scaleX(1.25) translateY(1px); }

.nav-menuicon-bar-close .nav-menuicon-bar {
  opacity: 0;
  transform: scaleX(0); }

.nav-menuicon-active {
  transform: translateX(0); }

.nav-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

nav {
  display: flex; }
  nav ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100vh;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 3;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; }
  nav li {
    margin: 2em 0 0 1.5em; }
  nav a {
    color: #000;
    font-family: "Neuton", serif;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: none;
    transition: 0.2s ease-in; }
  nav a:hover,
  nav a:focus {
    color: darkgray;
    transition: 0.2s ease-in; }

@media (min-width: 768px) {
  .nav-menuicon {
    display: none; }
  header {
    height: 8vh; }
  nav ul {
    flex-direction: row;
    position: relative;
    height: auto;
    transform: translateY(0); }
  nav li {
    margin: 0 0 0 1.5em; } }

@media (min-width: 992px) {
  .nav-menuicon {
    display: none; }
  header {
    height: 8vh; }
  nav ul {
    flex-direction: row;
    position: relative;
    height: auto;
    transform: translateY(0); }
  nav li {
    margin: 0 0 0 1.5em; } }

@media (min-width: 1200px) {
  .nav-menuicon {
    display: none; }
  header {
    height: 8vh; }
  nav ul {
    flex-direction: row;
    position: relative;
    height: auto;
    transform: translateY(0); }
  nav li {
    margin: 0 0 0 1.5em; } }

.hero {
  background-image: url("../img/hero.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative; }
  .hero .hero-logo {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    transform: translate(15px, -50%) scale(0.7); }

@media (min-width: 768px) {
  .hero {
    background-image: url("../img/hero.jpg");
    background-position: middle center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative; }
    .hero .hero-logo {
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      width: 100%;
      transform: translate(0, -50%) scale(1); } }

@media (min-width: 992px) {
  .hero {
    background-image: url("../img/hero.jpg");
    background-position: middle center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative; }
    .hero .hero-logo {
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      width: 100%;
      transform: translate(0, -50%) scale(1); } }

@media (min-width: 1200px) {
  .hero {
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative; }
    .hero .hero-logo {
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      width: 100%;
      transform: translate(0, -50%) scale(1); } }

.services-bg {
  background-image: url("../img/services-bg.jpg");
  height: auto;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.services-content {
  scroll-snap-align: start; }
  .services-content h1 {
    padding-top: 8em;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px; }

.services-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.services-block {
  margin-top: 7em;
  width: 90%;
  text-align: center; }
  .services-block-img {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative; }
    .services-block-img img {
      width: 90px;
      height: 90px;
      z-index: 2; }
  .services-block-img::before {
    content: "";
    position: absolute;
    background: #333;
    border-radius: 50%;
    top: 0;
    width: 180px;
    height: 180px;
    z-index: 1;
    transform: translateY(-25%) scale(1);
    transition: transform 0.3s ease-out; }
  .services-block-img:hover::before {
    content: "";
    position: absolute;
    background: #333;
    border-radius: 50%;
    top: 0;
    width: 180px;
    height: 180px;
    z-index: 1;
    transform: translateY(-25%) scale(1.2);
    transition: transform 0.3s ease-out; }
  .services-block h3 {
    margin-top: 6em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 2px; }
  .services-block p {
    margin-top: 1.5em;
    font-family: "Neuton", serif;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.2rem;
    color: #535353; }

@media (min-width: 768px) {
  .services-container {
    flex-direction: row; }
  .services-block {
    width: 28%; } }

@media (min-width: 992px) {
  .services-container {
    flex-direction: row; }
  .services-block {
    width: 28%; } }

@media (min-width: 1200px) {
  .services-container {
    flex-direction: row; }
  .services-block {
    width: 28%; } }
