.contact {
  h1 {
    padding-top: 4em;
    text-align: center;
    font-family: $fontM;
    font-size: 2.2rem;
    font-weight: 100;
  }
  p {
    text-align: center;
    font-family: $fontN;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.2rem;
    color: #535353;
    padding-bottom: 2em;
  }
  .contact-desc {
    padding-top: 4em;
    padding-bottom: 7em;
    max-width: 800px;
    margin: 0 auto;
  }
  h4 {
    text-align: center;
    font-family: $fontM;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
    padding-top: 4em;
  }
  .contact-hours {
    font-size: 0.9rem;
    letter-spacing: 4px;
  }
}
.contact-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  //   border: 1px solid green;
}
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contact-map {
    width: 100%;
    iframe {
      width: 100%;
      margin-bottom: 3em;
    }
  }
  .form-container {
    width: 100%;
  }
  .contact-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid black;
    input {
      //   border: 1px solid pink;
      padding-top: 3em;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-bottom: 1px solid black;
      width: 100%;
      margin-right: 2em;
    }
    input::placeholder {
      padding: 3px;
    }
    textarea {
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-bottom: 1px solid black;
      width: 100%;
    }
    textarea::placeholder {
      padding-top: 180px;
      padding-left: 3px;
    }
    button {
      display: flex;
      margin: 4em auto;
      padding: 1.5em 3.5em;
      color: #fff;
      background: #000;
      font-family: $fontM;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.3s ease-out;
      cursor: pointer;
    }
    button:hover {
      background: rgba(0, 0, 0, 0.8);
      transition: 0.3s ease-out;
    }
  }
}
// Media Query Mixins

@include atiphone6 {
}

@include at576 {
}
@include at768 {
  .contact-content {
    flex-direction: row;
    .contact-map {
      width: 45%;
      iframe {
        width: 100%;
      }
    }
    .form-container {
      width: 100%;
    }
    .contact-form {
      width: 50%;
      input {
        width: 40%;
      }
      textarea {
        width: 95%;
      }
    }
  }
}
@include at992 {
  .contact-content {
    flex-direction: row;
    .contact-map {
      width: 45%;
      iframe {
        width: 100%;
      }
    }
    .form-container {
      width: 100%;
    }
    .contact-form {
      width: 50%;
      // border: 1px solid black;
      input {
        width: 40%;
      }
      textarea {
        width: 95%;
      }
    }
  }
}
@include at1200 {
  .contact-content {
    flex-direction: row;
    .contact-map {
      width: 45%;
      iframe {
        width: 100%;
      }
    }
    .form-container {
      width: 100%;
    }
    .contact-form {
      width: 50%;
      input {
        width: 45%;
      }
      textarea {
        width: 95%;
      }
    }
  }
}
