.portfolio {
  background-color: #f8f8f8;
  text-align: center;
  h1 {
    padding-top: 4em;
    text-align: center;
    font-family: $fontM;
    font-size: 2.2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p {
    // margin-top: 0.6em;
    margin: 0.6em 0 0 0;
    padding-bottom: 3em;
    font-family: $fontN;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.2rem;
    color: #535353;
  }
  p:last-child {
    margin-top: 4em;
    padding-bottom: 5em;
    cursor: pointer;
  }
}
.portfolio-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  height: auto;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  //1
  .portfolio-gallery1 {
    position: relative;
    cursor: pointer;
  }
  .portfolio-gallery1::before {
    content: "Jessica";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(0);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery1:hover::before {
    content: "Jessica";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery1::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(0);
    opacity: 0;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery1:hover::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(5deg);
    opacity: 1;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  //2
  .portfolio-gallery2 {
    position: relative;
    cursor: pointer;
  }
  .portfolio-gallery2::before {
    content: "Cristina";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(0);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery2:hover::before {
    content: "Cristina";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery2::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(0);
    opacity: 0;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery2:hover::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(5deg);
    opacity: 1;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  //3
  .portfolio-gallery3 {
    position: relative;
    cursor: pointer;
  }
  .portfolio-gallery3::before {
    content: "Sandra";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(0);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery3:hover::before {
    content: "Sandra";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery3::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(0);
    opacity: 0;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery3:hover::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(5deg);
    opacity: 1;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  //4
  .portfolio-gallery4 {
    position: relative;
    cursor: pointer;
  }
  .portfolio-gallery4::before {
    content: "Violet";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(0);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery4:hover::before {
    content: "Violet";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery4::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(0);
    opacity: 0;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery4:hover::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(5deg);
    opacity: 1;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  //5
  .portfolio-gallery5 {
    position: relative;
    cursor: pointer;
  }
  .portfolio-gallery5::before {
    content: "Emma";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(0);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery5:hover::before {
    content: "Emma";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery5::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(0);
    opacity: 0;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery5:hover::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(5deg);
    opacity: 1;
    z-index: 6;
    transition: all 0.3s ease-out;
  }

  //6
  .portfolio-gallery6 {
    position: relative;
    cursor: pointer;
  }
  .portfolio-gallery6::before {
    content: "Claire";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(0);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery6:hover::before {
    content: "Claire";
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
    font-family: $fontM;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery6::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(0);
    opacity: 0;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
  .portfolio-gallery6:hover::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(5deg);
    opacity: 1;
    z-index: 6;
    transition: all 0.3s ease-out;
  }
}
// Media Query Mixins

@include atiphone6 {
}

@include at576 {
}
@include at768 {
  .portfolio-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    .portfolio-gallery1 {
      grid-column: 1/5;
    }
    .portfolio-gallery2 {
      grid-column: 5/9;
    }
    .portfolio-gallery3 {
      grid-column: 9/13;
    }
    .portfolio-gallery4 {
      grid-column: 1/5;
    }
    .portfolio-gallery5 {
      grid-column: 5/9;
    }
    .portfolio-gallery6 {
      grid-column: 9/13;
    }
  }
}
@include at992 {
  .portfolio-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    .portfolio-gallery1 {
      grid-column: 1/5;
    }
    .portfolio-gallery2 {
      grid-column: 5/9;
    }
    .portfolio-gallery3 {
      grid-column: 9/13;
    }
    .portfolio-gallery4 {
      grid-column: 1/5;
    }
    .portfolio-gallery5 {
      grid-column: 5/9;
    }
    .portfolio-gallery6 {
      grid-column: 9/13;
    }
  }
}
@include at1200 {
  .portfolio-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    .portfolio-gallery1 {
      grid-column: 1/5;
    }
    .portfolio-gallery2 {
      grid-column: 5/9;
    }
    .portfolio-gallery3 {
      grid-column: 9/13;
    }
    .portfolio-gallery4 {
      grid-column: 1/5;
    }
    .portfolio-gallery5 {
      grid-column: 5/9;
    }
    .portfolio-gallery6 {
      grid-column: 9/13;
    }
  }
}
