/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Neuton', serif; */
  height: 100%;
  font-size: 16px;
  color: #666;
}

body {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-padding-top: 150px;
}
